@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@theme {
  --color-discord-bg: #313338;
  --color-discord-dark: #2B2D31;
  --color-discord-darker: #1E1F22;
  --color-discord-blurple: #5865F2;
  --color-discord-green: #23A559;
  --color-discord-red: #DA373C;
  --color-discord-text: #DBDEE1;
  --color-discord-muted: #949BA4;
  
  --font-sans: "Inter", sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-discord-bg text-discord-text;
  font-family: "Inter", sans-serif;
}

.lucide {
  display: inline-block;
  vertical-align: middle;
}